* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--background);
  overflow: hidden;
  color: rgba(0, 0, 0, 0.77);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 15px;
}

:root {
  --background: #fafafa;
  --blue-100: #2F3973;
  --blue-200: #161840;
  --purple-100: #6321A6;
}